#############################
# Python
#############################

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

#############################
# VSCode
#############################

.vscode/

#############################
# Environment
#############################

.venv/
venv/
env/

#############################
# Dataset
#############################

data/
wheat_drought_data/
wheat_drought_data_upsampled/

#############################
# Training Results
#############################

outputs/
wheat_drought_runs/
svm_runs/

#############################
# Models
#############################

*.pt
*.pth
*.onnx
*.engine
*.weights

#############################
# Tensorboard
#############################

runs/

#############################
# Logs
#############################

*.log
*.csv

#############################
# Images Generated
#############################

*.png
*.jpg
*.jpeg
*.bmp
*.gif

#############################
# Windows
#############################

Thumbs.db
Desktop.ini

#############################
# IDE
#############################

.idea/

#############################
# Temporary
#############################

*.tmp
*.cache

#############################
# ngrok
#############################

ngrok.exe